---
const { backPath, backText } = Astro.props;
---

<!-- BREADCRUMB -->
<section class="section-hero-empty">
  <div class="container-breadcrumb">
    <a href={backPath} class="breadcrumb">&lt; {backText}</a>
  </div>
</section>