---
const { backPath, backText } = Astro.props;
---

<!-- BREADCRUMB -->
<section class="section-hero-empty" role="navigation" aria-label="Drobečková navigace">
  <div class="container-breadcrumb" aria-label="Odkaz">
    <a href={backPath} class="breadcrumb" aria-label=`${backText}`>&lt; {backText}</a>
  </div>
</section>