---

---

<!-- FILTER OVERLAY -->
<div class="overlay-filter">
  <div role="dialog" class="filter-overlay-content">


  <!-- FILTRATION PROTOCOL MOBILE -->
  <div class="filtration-protocol-mobile">
    <div class="filter-text-mobile">
      <span>
        Filtrování
        <span class="product-count-indicator-mobile" title="Počet produktů">
          (0)
        </span>
      </span>
      <div class="filter-icon-set">
        <div class="filter-reset" title="Resetovat filtry">
          <a href="/nabidka" aria-label="Anulace filtrů">
            <div class="reset-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24">
                <path fill="currentColor" d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2v2a8 8 0 1 0 5.135 1.865L15 8V2h6l-2.447 2.447A9.98 9.98 0 0 1 22 12" />
              </svg>
            </div>
          </a>
        </div>
        <button type="button" class="close-button" title="Zavřít okno" aria-label="Zavřít filtrový panel">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" width="100%" height="100%">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M12.5 3 3 12.5M3 3l9.5 9.5"></path>
          </svg>
      </button>
      </div>
    </div>

    <!-- PRICE FILTERS -->
    <div class="filter-container">
      <div class="filter-price">
        <span class="filter-label">
          Cena
        </span>
        <article class="price-range">
          <input placeholder="Od" id="od" class="__text-input price-from-to" type="number" name="od" />
          <span class="price-range-separator">
            -
          </span>
          <input placeholder="Do" id="do" class="__text-input price-from-to" type="number" name="do" />
        </article>
      </div>

      <!-- CATEGORY FILTERS -->
      <div class="filter-by-category">

        <!-- KONSTRUKCE -->
        <span class="filter-label">Kategorie</span>
        <div class="filter-body">
          <button type="button" class="__button collapse-button">
            Dle konstrukce
          </button>
          <div class="collapse-body">
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Křídlo
                <br />
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Pianino
              </span>
            </label>
          </div>
        </div>

        <!-- STAV -->
        <div class="filter-body">
          <button type="button" class="__button collapse-button">
            Stav
          </button>
          <div class="collapse-body">
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Nové
                <br />
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Renovované
              </span>
            </label>
          </div>
        </div>

        <!-- ZNAČKY -->
        <div class="filter-body">
          <button type="button" class="__button collapse-button">
            Značky
          </button>
          <div class="collapse-body">
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Petrof
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                August Förster
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Kawai
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Yamaha
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Rösler
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Samick
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Pearl River
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Scholze
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Weinbach
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Hellas
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Ostatní
              </span>
            </label>
          </div>
        </div>

        <!-- PROVEDENÍ -->
        <div class="filter-body">
          <button type="button" class="__button collapse-button">
            Provedení
          </button>
          <div class="collapse-body">
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Černé
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Bílé
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Hnědé
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Dub
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Ořech
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Exotické dřevo
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Kombinace
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Barevné
              </span>
            </label>
            <label class="checkbox-label">
              <input class="__checkbox" type="checkbox" />
              <span>
                Ostatní
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>