---
const { title, description, additionalDeclarations } = Astro.props;
---
<head>
  <!-- META -->
  <meta charset="UTF-8" />
  <meta http-equiv="content-language" content="cs-CZ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description} />

  <!-- LINKS -->
  <link rel="canonical" href="https://pianostarek.cz/">
  <link rel="icon" href="/favicon.ico" sizes="any" />
  <title>{title}</title>

  <!-- ADDITIONAL HEAD DECLARATIONS -->
  {additionalDeclarations && <Fragment set:html={additionalDeclarations} />}

  <!-- SCRIPTS -->
</head>