---
const { title="Piano Stárek" } = Astro.props;
---
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:url" content="aaaaaaa">
  <meta property="og:title" content="Piano Stárek">
  <meta property="og:type" content="website">
  <title>{title}</title>
</head>
