---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  heroTitle: string;
  backgroundImage: ImageMetadata;
}

const { 
  heroTitle,
  backgroundImage,
} = Astro.props;
---

<!-- HERO -->
<section class="section-hero">
  <div class="hero-background-image">
    <Image
    src={backgroundImage}
    alt="Obrázek v pozadí"
    class="__image background-image"
    width={2560}
    height={1500}
    quality={50}
    format="webp"
    loading="eager"
    />
  </div>
  <div class="hero-container">
    <h1 class="hero-heading">{heroTitle}</h1>
    <slot />
  </div>
</section>