---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import NavMobile from "../components/NavMobile.astro";
import Scripts from "../components/Scripts.astro";
import "../styles/global.css"

const { title, description, additionalDeclarations } = Astro.props;
---

<html lang="cs-CZ">

  <Head {title} {description} {additionalDeclarations} />

  <body class="body-main">
    
    <Nav />

    <slot />

    <Footer />

    <NavMobile />

    <Scripts />
  </body>
</html>