---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
<html>
  <Head />
  <body>
    <Nav />
    <div class="container">
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
